[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/bundle/indentLine"]
	path = bundle/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "bundle/bundle/vim-airline-themes"]
	path = bundle/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/bundle/vim-markdown"]
	path = bundle/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/bundle/vim-fugitive"]
	path = bundle/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/bundle/vim-move"]
	path = bundle/bundle/vim-move
	url = https://github.com/matze/vim-move
[submodule "bundle/bundle/vim-trailing-whitespace"]
	path = bundle/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "bundle/bundle/vim-airline"]
	path = bundle/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-move"]
	path = bundle/vim-move
	url = https://github.com/matze/vim-move
[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
